{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
     {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

     <section  id="section">
      
                <div class="containerLogin">
                    <div class="user signinBx">
                        <div class="imgBx"><img src="{{ asset('img/logo.svg') }}" alt=""></div>
                        <div class="formBx">
                            <form>
                                <h2>Connecter vous</h2>
                                <input type="email" placeholder="Email"  value="{{ last_username }}" id="inputEmail" autocomplete="email" required autofocus>
                                <input type="password"  name="password" id="inputPassword" placeholder="Mot de passe" autocomplete="current-password" required>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                <input class="btn" type="submit" value="Connexion">
                                <p class="signup">Mot de passe oublié ?<a href="{{ path('app_forgot_password_request')}}">Juste ici</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
   
</form>
{% endblock %}
