{% extends 'base.html.twig' %}

{% block title %}Accueil {{ parent() }} {% endblock %}

{% block body %}

    <section class="presentation">
            <div class="textenour">
            <h1 class="welcome">Bienvenue sur NourShop</h1>
            <p class="comme">Votre Boutique de présentation de tissus Africains</p>
            </div>
            <div class="boutton">
                <a class="boutton-btn" href="{{ path('home_about') }}">Qui sommes nous?</a>
            </div>
    </section>

    {# ----------              -------------- #}
    {# ----------   Hisoitre   -------------- #}
    {# ----------              -------------- #}
    <section class="histoire">
            <h2>Histoire du Tissus Africain</h2>
            <div class="africains-story">
                <p>
                    L’Afrique est riche de ses cultures et de ses textiles. Ils racontent une grande partie de l’histoire de ce continent aux multiples facettes. Les premières étoffes qui sont apparues sur une large partie du continent noir étaient d’écorce battue. Ce n’est qu’au début du XIème siècle que l’on observe l’émergence des tissages. Ils seront, jusqu’au XIXème siècle l’apanage des rois et des dignitaires africains, signe d’appartenance sociale et de richesse. Ils sont de véritables langages visuels et racontent l’histoire d’une famille royale, d’une ethnie, d’un peuple, d’une région ou d’un pays.
               </p>
            </div>
        </section>
    

    {# ----------              -------------- #}
    {# ----------   NOUVEAUTÉ  -------------- #}
    {# ----------              -------------- #}

    <section class="generalcontenucard">
        <h2>DÉCOUVRER NOS DERNIÈRE ACTUALITÉE</h2>
        <div id="containerArticle">

            {% for article in articles %}
           
                <div class="containerArticle">
                    <a href="{{ path('article_show', {"id": article.id}) }}">
                        <div class="imageArticle">
                            <img src="{{ asset('images/article/' ~ article.image) }}" alt=""> 
                        </div>
                        <div class="textArticle">
                            <h3>{{article.nom}}</h3>
                            <p>{{article.prix}}€</p>  
                        </div>
                        <div class="descriptionArticle">
                            {{article.description|striptags|u.truncate(100, '...', false)|raw}}
                        </div>
                    </a>
                </div>
            {% endfor %}

        </div>
    </section>

    {# ----------          -------------- #}
    {# ----------  Slider  -------------- #}
    {# ----------          -------------- #}   

         {{ include('home/temoignage.html.twig') }}

    

{% endblock %}
