{% extends 'base.html.twig' %}

{% block title %}Accueil {{ parent() }} {% endblock %}

{% block body %}

    <section class="presentation">
            <div class="textenour">
            <h1 class="welcome">Bienvenue sur NourShop</h1>
            <p class="comme">Votre Boutique de présentation de tissus Africains</p>
            </div>
            <div class="boutton">
                <a class="boutton-btn" href="{{ path('home_about') }}">Qui sommes nous?</a>
            </div>
    </section>
    

    {# ----------              -------------- #}
    {# ----------   NOUVEAUTÉ  -------------- #}
    {# ----------              -------------- #}

        <section class="generalcontenucard">
            <h2>MEILLEUR VENTES</h2>
            <div id="containerArticle">
            <!-- 1ER PERSONNAGE -->
                <div class="containerArticle">
                    <a href="">
                        <div class="imageArticle">
                            <img src="{{ asset('img/wax10.jpg') }}" alt="Chasseur d'Orc"> 
                        </div>
                        <div class="textArticle">
                            <h3>Super WAX Ghana</h3>
                            <p>35€</p>  
                        </div>
                        <p class="descriptionArticle">WAX PAGNE TISSU AFRICAIN BRILLANT Et PAILLETÉ SUPER NICE COTON</p>
                    </a>
                </div>
            </div>
        </section>

    {# ----------          -------------- #}
    {# ----------  Slider  -------------- #}
    {# ----------          -------------- #}   

        <section class="cardSlider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="{{ asset('img/bazin.0.png') }}"></div>
                    <div class="swiper-slide"><img src="{{ asset('img/bazin1.0.png') }}"></div>
                    <div class="swiper-slide"><img src="{{ asset('img/bazin2.0.jpg') }}"></div>
                    <div class="swiper-slide"><img src="{{ asset('img/wax.jpg') }}"></div>
                    <div class="swiper-slide"><img src="{{ asset('img/img2.png') }}"></div>    
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </section >

   

{% endblock %}
