{% extends 'base.html.twig' %}

{% block title %}Accueil {{ parent() }} {% endblock %}

{% block body %}

    <section class="presentation">
            <div class="textenour">
            <h1 class="welcome">Bienvenue sur NourShop</h1>
            <p class="comme">Votre Boutique de présentation de tissus Africains</p>
            </div>
            <div class="boutton">
                <a class="boutton-btn" href="{{ path('home_about') }}">Qui sommes nous?</a>
            </div>
    </section>
    

    {# ----------              -------------- #}
    {# ----------   NOUVEAUTÉ  -------------- #}
    {# ----------              -------------- #}

    <section class="generalcontenucard">
        <h2>Dernière actualités</h2>
        <div id="containerArticle">

            {% for article in articles %}
           
                <div class="containerArticle">
                    <a href="{{ path('article_show', {"id": article.id}) }}">
                        <div class="imageArticle">
                            <img src="{{ asset('images/article/' ~ article.image) }}" alt=""> 
                        </div>
                        <div class="textArticle">
                            <h3>{{article.nom}}</h3>
                            <p>{{article.prix}}€</p>  
                        </div>
                        <p class="descriptionArticle">{{article.description|u.truncate(130, '...', false)}}</p>
                    </a>
                </div>
            {% endfor %}

        </div>
    </section>

    {# ----------          -------------- #}
    {# ----------  Slider  -------------- #}
    {# ----------          -------------- #}   

        <section class="cardSlider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="{{ asset('img/bazin.0.png') }}"></div>
                    <div class="swiper-slide"><img src="{{ asset('img/bazin1.0.png') }}"></div>
                    <div class="swiper-slide"><img src="{{ asset('img/bazin2.0.jpg') }}"></div>
                    <div class="swiper-slide"><img src="{{ asset('img/wax.jpg') }}"></div>
                    <div class="swiper-slide"><img src="{{ asset('img/img2.png') }}"></div>    
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </section >

   

{% endblock %}
