{# ----------          -------------- #}
    {# ----------  Slider  -------------- #}
    {# ----------          -------------- #}   

        <section id="section-swip">
            <div class="swiper-container">
                <h2>ILS NOUS ONT FAIT CONFIANCE</h2>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="tetstiomonialBox">
                        <img src="{{ asset('img/quote.png') }}" class="quote" alt="">
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut cupiditate ducimus ipsam! Amet asperiores a unde soluta vero repellendus obcaecati sint nobis odit quam esse fugit doloremque fuga cupiditate, ducimus optio ab deserunt molestias delectus repellat.</p>
                            <div class="details">
                                <div class="imgBx">
                                    <img src="{{ asset('img/womenblackl.jpg') }}" alt="">
                                </div>
                                <h3>Some Famous <br><span>Creative Designer</span></h3>
                            </div>
                        </div>
                        </div>
                    </div> 
                    <div class="swiper-slide">
                        <div class="tetstiomonialBox">
                        <img src="{{ asset('img/quote.png') }}" class="quote"alt="">
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut cupiditate ducimus ipsam! Amet asperiores a unde soluta vero repellendus obcaecati sint nobis odit quam esse fugit doloremque fuga cupiditate, ducimus optio ab deserunt molestias delectus repellat.</p>
                            <div class="details">
                                <div class="imgBx">
                                    <img src="{{ asset('img/blackman.jpg') }}" alt="">
                                </div>
                                <h3>Some Famous <br><span>Creative Designer</span></h3>
                            </div>
                        </div>
                        </div>
                    </div> 
                    <div class="swiper-slide">
                        <div class="tetstiomonialBox">
                        <img src="{{ asset('img/quote.png') }}" class="quote"alt="">
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut cupiditate ducimus ipsam! Amet asperiores a unde soluta vero repellendus obcaecati sint nobis odit quam esse fugit doloremque fuga cupiditate, ducimus optio ab deserunt molestias delectus repellat.</p>
                            <div class="details">
                                <div class="imgBx">
                                    <img src="{{ asset('img/family.jpg') }}" alt="">
                                </div>
                                <h3>Some Famous <br><span>Creative Designer</span></h3>
                            </div>
                        </div>
                        </div>
                    </div> 
                    <div class="swiper-slide">
                        <div class="tetstiomonialBox">
                        <img src="{{ asset('img/quote.png') }}" class="quote"alt="">
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut cupiditate ducimus ipsam! Amet asperiores a unde soluta vero repellendus obcaecati sint nobis odit quam esse fugit doloremque fuga cupiditate, ducimus optio ab deserunt molestias delectus repellat.</p>
                            <div class="details">
                                <div class="imgBx">
                                    <img src="{{ asset('img/womenblackl.jpg') }}" alt="">
                                </div>
                                <h3>Some Famous <br><span>Creative Designer</span></h3>
                            </div>
                        </div>
                        </div>
                    </div> 
                    <div class="swiper-slide">
                        <div class="tetstiomonialBox">
                        <img src="{{ asset('img/quote.png') }}" class="quote"alt="">
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut cupiditate ducimus ipsam! Amet asperiores a unde soluta vero repellendus obcaecati sint nobis odit quam esse fugit doloremque fuga cupiditate, ducimus optio ab deserunt molestias delectus repellat.</p>
                            <div class="details">
                                <div class="imgBx">
                                    <img src="{{ asset('img/blackman.jpg') }}" alt="">
                                </div>
                                <h3>Some Famous <br><span>Creative Designer</span></h3>
                            </div>
                        </div>
                        </div>
                    </div>            
                </div>
            </div>
        </section >
