{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
  
    {{ form_start(registrationForm) }}
    <section  id="section">   
        <div class="containerLogin">
            <div class="user signinBx">
                <div class="imgBx"><img src="{{ asset('img/logo.svg') }}" alt=""></div>
                <div class="formBx">               
                    <h2>S'enregitrer</h2>
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
                    
                    <input class="btn" type="submit" value="Envoyer">
                </div>
            </div>
        </div>
    </section>
    {{ form_end(registrationForm) }}
{% endblock %}
