{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
     {{ form_start(requestForm) }}
    <section  id="section">   
    <div class="containerLogin">
        <div class="user signinBx">
            <div class="imgBx"><img src="{{ asset('img/logo.svg') }}" alt=""></div>
            <div class="formBx">
               
                    <h2>Réinitialiser votre mot de passe</h2>
                       {{ form_row(requestForm.email) }}
                    
                    <input class="btn" type="submit" value="Envoyer">
            </div>
        </div>
    </div>
</section>
    {{ form_end(requestForm) }}
{% endblock %}
