 <footer>
        <ul class="social_icon">
            <li><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a></li>
        </ul>
        <ul class="menuFoot">
            <li><a href="{{ path('home') }}">Accueil</a></li>
            <li><a href="{{ path('home_tailleur') }}">Tailleur</a></li>
            <li><a href="{{ path('home_mention') }}">Mentions</a></li>
            <li><a href="{{ path('home_politique') }}">Politique</a></li>
            <li><a href="{{ path('home_contact') }}">Contact</a></li>
        </ul>
        <p>©NourShop 241 | Voyez la Vie autrement </p>
    </footer>