 <footer>
        <div class="waves">
            <div class="wave" id="waves1"></div>
            <div class="wave" id="waves2"></div>
            <div class="wave" id="waves3"></div>
            <div class="wave" id="waves4"></div>
        </div>
        <ul class="social_icon">
            <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
        </ul>
        <ul class="menuFoot">
            <li><a href="{{ path('home') }}">Accueil</a></li>
            <li><a href="{{ path('home_tailleur') }}">Tailleur</a></li>
            <li><a href="{{ path('home_mention') }}">Mentions</a></li>
            <li><a href="{{ path('home_politique') }}">Politique</a></li>
            <li><a href="{{ path('home_contact') }}">Contact</a></li>
        </ul>
        <p>©NourShop 241 | Voyez la Vie autrement </p>
    </footer>