<header class="header">
       
        <div class="dropdown">
            <nav  class="navbartext">
                <a href="{{ path('home') }}"><img class="logonour" src="{{ asset('img/logo.svg') }}" alt="Logo NourShop">
                <ul class="menu-links">
                <li><a href="{{ path('home')}}">Accueil</a></li>
                    <li><a href="{{ path('article_index')}}">Nos Tissus</a></li>
                    <li><a href="{{ path('home_tailleur') }}">Notre Tailleur</a></li>
                   
                    <li><a href="{{ path('home_contact') }}">Nous Contacter</a></li>
                </ul>
                 <button id="menu-btn" class="fa-solid fa-bars icons"></button>
            </nav>
        </div>
    </header>