{% extends 'baseDashboard.html.twig' %}

{% block title %}Gérer les Articles
{% endblock %}

{% block body %}
	<h1>Gérer les Articles</h1>
	<a class="btn btn-primary" href="{{ path('article-admin_add') }}" role="button">Ajouter  un Article</a>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Nom</th>
				<th scope="col">Prix</th>
				<th scope="col">Modifier</th>
                <th scope="col">Supprimer</th>
			</tr>
		</thead>
		<tbody>
			{% for article in articles %}

				<tr>
					<th scope="row">{{article.id}}</th>
					<td>{{article.nom}}</td>
					<td>{{article.prix}}</td>
					<td>
						<a class="btn btn-primary" href="{{ path("article-admin_edit", {id: article.id}) }}" role="button">Modifier</a>
					</td>
					<td>
						<button type="button" class="btn btn-primary delete" data-bs-toggle="modal" data-bs-target="#exampleModal" data-id="{{article.id}}" data-nom="{{article.nom}}">Supprimer</button>
					</td>
				</tr>
			{% endfor %}

		</tbody>
	</table>
	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="modal-delete" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Supprimer un Article</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<a href="" type="button" class="btn btn-primary ">Valider</a>
				</div>
			</div>
		</div>
	</div>


{% endblock %}


