{% extends 'baseDashboard.html.twig' %}

{% block title %}Gérer les Articles
{% endblock %}

{% block body %}
    
	<section class="gestion-article">
		<div class="head-article">
			<h1>Gérer les Tissus</h1>
			<a class="btn btn-primary msbtn" href="{{ path('tissus-admin_add') }}" role="button">Ajouter  un Tissus</a>
		</div>

		<table class="table">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Nom</th>
					<th scope="col">Modifier</th>
					<th scope="col">Supprimer</th>
				</tr>
			</thead>
			<tbody>
				{% for tissus in tissus %}

					<tr>
						<th scope="row">{{tissus.id}}</th>
						<td>{{tissus.name}}</td>
						
						<td>
							<a class="btn btn-primary msbtn" href="{{ path("tissus-admin_edit", {id: tissus.id}) }}" role="button">Modifier</a>
						</td>
						<td>
							<button type="button" class="btn btn-primary delete msbtn" data-bs-toggle="modal" data-bs-target="#exampleModal" data-id="{{tissus.id}}" data-nom="{{tissus.name}}">Supprimer</button>
						</td>
					</tr>
				{% endfor %}

			</tbody>
		</table>
		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="modal-delete" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Supprimer un Article</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body"></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						<a href="" type="button" class="btn btn-primary msbtn ">Valider</a>
					</div>
				</div>
			</div>
		</div>
	</section>


{% endblock %}
