{% extends 'base.html.twig' %}

{% block title %}Ajouter un Article
	{{ parent() }}
{% endblock %}

{% block body %}

	    <section class="generalcontenucard">
            <h2>Article</h2>
            <div id="containerArticle">

        {% for article in articles %}
            <!-- 1ER PERSONNAGE -->
                <div class="containerArticle">
                    <a href="{{ path('article_show', {"id": article.id}) }}">
                        <div class="imageArticle">
                            <img src="{{ asset('images/article/' ~ article.image) }}" alt=""> 
                        </div>
                        <div class="textArticle">
                            <h3>{{article.nom}}</h3>
                            <p>{{article.prix}}€</p>  
                        </div>
                        <p class="descriptionArticle">{{article.description|slice(0, 130)}}...</p>
                    </a>
                </div>
        {% endfor %}

            </div>
        </section>
{% endblock %}
