{% extends 'base.html.twig' %}

{% block title %}Ajouter un Article
	{{ parent() }}
{% endblock %}

{% block body %}
 <section class="description">
        <div class="container-description">
            <div class="image-description">
                <a href="{{ path('article_index') }}">
                <img src="{{ asset('images/article/' ~ article.image) }}" alt=""> 
                </a>
            </div>
            <div class="text-description">
                <div class="info-description">
                    <h2 class="articleh2">{{article.nom}}</h2>
                    <p>{{article.prix}}€</p>  
                    <p class="descriptionArticle">{{article.description}}</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}